
.m1{
    display: flex!important;
    justify-content: center;
    list-style-type: none;
}


.m2{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.m2 li{
    padding-left: 20px;
}

.m4{
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.m4:hover{
    color: blueviolet;
}


.m3{
    position: relative;
    line-height: 50px;
}

.m5{
     list-style-type: none;
     padding: 0;
     display: none!important;
     box-shadow: 0px 0px 34px 0px #00000026;
     position: absolute;
     background-color: white;
}

.m5 a{
    text-decoration: none;
    color: black;
}

.m5 li{
    padding: 0;
    width: 220px;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    transition: 0.4s;
    border-bottom: 1px solid #9797971f;
}

.m5 li:hover{
    background-color: #002147;
    color: white;
    font-weight: bold;
    padding-left: 30px;
}

.m3:hover > .m5{
    display: block!important;
}






.n1{
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    box-shadow:  0px 0px 55px 0px #97979740;
    width: 300px;
    background-color: white;
    display: none;
}

.n2{
    padding: 0;
    margin: 0;
}

.n3{
    list-style-type: none;
    min-height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #bababa52;
    cursor: pointer;
}

.n4{
    text-decoration: none;
    color: #002147;
    display: block;
    padding-left: 30px;
    font-weight: 700;
}

.n3:hover > .n4{
    color: #FDC800;
    background-color: #f0f4f9; 
 }

.n5 a{
    text-decoration: none;
    color: #002147;
}

.n5{
    display: none;
}

.n5 li{
     list-style: none;
     padding-left: 15px;
     transition: 0.3s;
     border-bottom: 1px solid #d0d1d19a;
     font-weight: 500;
}

.n5 li:hover{
    background-color: #FDC800;
    padding-left: 30px;
    font-weight: 700;
}


.closeMenu{
    list-style: none;
    border-top: 1px solid #bababa52;
    border-bottom: 1px solid #bababa52;
    font-size: 30px;
    padding: 16px;
    margin-bottom: 20px;
    color: #b3b3b3;
    cursor: pointer;
    padding-left: 30px;
    transition: 0.5s;
    display: none;
}
.closeMenu i{
    transition: 0.5s;
}

.closeMenu:hover > i{
    transform: rotate(360deg);
}

@media screen and (max-width: 990px) {
    .closeMenu{
        display: block;
    }
}